.container h1 {
    margin-top: 24px;
}

.container .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 24px;
    gap: 24px;
}

.card img {
    padding: 12px;
    width: 260px;
    height: 260px;
    object-fit: contain;
}

.card .card-body h5 {
    font-size: 32px;
}

#text-categoria {
    display: inline-block;
    background-color: #036564;
    border-radius: 10px;
    padding: 4px 8px;
    color: #FFF;
}

#btn-comprar, #btn-responder, #btn-guardar {
    border: none;
    margin: 12px 0;
    background-color: #036564;
}

#btn-comprar:hover {
    background-color: #09acaa;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.3);
    color: #fff;
    transform: translateY(-5px);
  }
  
  #btn-comprar:active {
    transform: translateY(-1px);
  }