body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    background: linear-gradient(rgba(0,123,244,1) 18%,  52%, rgba(0,76,252,1) 88%);
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-menu li {
    position: relative;
    padding: 0 10px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
}

.nav-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.dropdown-menu {
    position: absolute;
    background-color: #007bf4;
    z-index: 1;
    display: none;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a {
    color: white;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-menu.open {
    display: block;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo .logo {
    height: 50px;
    width: auto;
    padding-right: 15px;
}






