body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    background-color: #036564;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-menu li {
    padding: 0 10px;
}

.nav-menu li a {
    color: white; /* Color del texto por defecto */
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease; /* Transición suave */
}

.nav-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo sombreado */
    color: white; /* Cambia el color del texto al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Efecto de sombra */
    border-radius: 5px; /* Bordes redondeados (opcional) */
}

/* Dropdown Menu */
.dropdown-menu {
    position: absolute;
    background-color: #036564;
    z-index: 1;
    display: none;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

