* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding y borde se incluyan en el tamaño total */
}

html, body {
    width: 100%;
    height: 100%;
}


.container {
    width: 100%;
}

.banner-web {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.container h1 {
    color: #033649;
    margin-bottom: 24px;
}

.container p {
    color: #033649;
}

.hero {
    color: rgb(255, 255, 255); /* Color del texto */
    display: flex; /* Usa flexbox para centrar contenido */
    flex-direction: column; /* Coloca elementos en columna */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: center; /* Centra el texto */
}

.container-text {
    width: 100%;
    height: auto;
    margin-top: 24px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-text-left {
    width: 75%;
    height: auto;
    padding-right: 24px;
    font-family: Arial, "Helvetica Neue";
}

.container-text-right {
    width: 23%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:125px;
}

.container-text-right img {
    width: 350px; /* Ajusta a 300px de ancho */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 20px;
}



