/* Estilo general para el título */
h1 {
    font-family: Arial, sans-serif;
    text-align: center;        /* Centra el texto */
    font-size: 36px;           /* Tamaño de fuente más grande */
    font-weight: 700;          /* Fuente en negrita */
    color: #033649;            /* Color de texto */
    margin-top: 20px;          /* Espacio desde la parte superior de la página */
    margin-bottom: 30px;       /* Espacio debajo del título */
}
/* Estilo para el contenedor principal */
.container-form {
    max-width: 1200px; /* Máximo ancho de la página */
    margin: 0 auto;    /* Centrado del contenedor */
    padding: 20px;     /* Espacio alrededor del formulario */
    box-sizing: border-box; /* Para incluir padding en el ancho total */
}

/* Estilo para las secciones del formulario */
.container-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre las columnas */
    margin-bottom: 20px; /* Espacio entre secciones */
}

/* Ajuste para las columnas en pantallas pequeñas */
@media (max-width: 1024px) {
    .container-section {
        grid-template-columns: 1fr 1fr; /* Dos columnas */
    }
}

/* Ajuste para las columnas en pantallas muy pequeñas */
@media (max-width: 768px) {
    .container-section {
        grid-template-columns: 1fr; /* Una columna */
    }
}

/* Estilo para los campos del formulario */
.container-input {
    display: flex;
    flex-direction: column; /* Para que el label esté arriba del input */
}

/* Estilo para las etiquetas de los campos */
.container-input label {
    font-size: 16px;
    color: #333; /* Color de la etiqueta */
    margin-bottom: 5px; /* Espacio debajo de la etiqueta */
}

/* Estilo para los campos de entrada */
.container-input input,
.container-input select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 12px 30px;
    font-size: 16px;
    background: linear-gradient(to right, #004cfc, #007bf4);
    color: white;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    border: none;
}

/* Cambio de color al pasar el ratón sobre el botón */
button:hover {
    transform: translateY(-3px);
    background: linear-gradient(to right, #007bf4, #00c0e6);
}

/* Estilo para los mensajes de éxito */
.alert-success {
    background-color: #4CAF50; /* Color verde para el mensaje de éxito */
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}



